* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --roxo: #72005f;
  --bege: #baa193;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh;
  margin-top: 10vh;
}

.content {
  margin-top: 15vh;
  margin-right: 20vh;
}

p {
  color: var(--bege);
  font-size: 8vh;
}

strong {
  color: var(--roxo);
  font-size: 20vh;
  line-height: 17vh;
  margin-left: 2vh;
}

.button button {
  margin-top: 10vh;
  padding: 3vh 11vh;
  border-radius: 3vh;
  border: none;
  font-size: 5vh;
  background-color: var(--roxo);
  color: white;
}
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 75%;
    height: auto;
    margin: 0 auto;
    text-align: center;
  }
  .content {
    margin-top: 5vh;
    margin-right: 0;
  }
  .goat-image {
    width: 40%;
    margin: 2vh auto;
  }
  .button button {
    margin-top: 5vh;
    padding: 1.5vh 5.5vh;
    font-size: 3vh;
  }
  p {
    font-size: 3vh;
  }
  strong {
    font-size: 10vh;
    margin-left: 0;
  }
}
@media screen and (max-width: 425px) {
  .goat-image {
    width: 60%;
  }
}
